.form_group{
    margin: 0 0 10px 5px;
}
.form_group input, .form_group select{
    padding: 5px;
}
.form_group span{
    display: block;
    margin-bottom: 5px;
}

.form_group #span {
  visibility: hidden;
  position: absolute;
}
.form_group.error #span {
  color: red;
  visibility: visible;
  font-size: 10px;
}
.form_group.success input {
  border-color: green;
}
.form_group.error input{
  border-color: red;
}


